body {
  background-color: #009294;
  color: #FFFFFF;
}
h1 {
  background-color: yellow;
  text-align: center;
}
h3 {
  font-size: 16pt;
  color: #FF0000;
}
ol {
  border-style: dashed;
  border-width: 4px;
  border-color: blue;
}